!!!
%html
  %head
    != css :foundation, :media => 'screen'
    != css :morris, :media => 'screen'
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title #{@title}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
  %body
    %nav.top-bar{:role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => '/', :style => "color:white"} #{@title}
        %li.toggle-topbar.menu-icon
          %a{:href => '/'}
            %span Menu
      %section.top-bar-section
        %ul.left
          %li.has-form
            %div.row.collapse
              %div.large-8.small-9.columns
                %input{:type => 'text', :placeholder => 'Search'}
              %div.large-4.small-8.columns
                %a.alert.button.expand{:href => '/'} Search
        %ul.right
          %li.divider
          %li.has-dropdown.not-click
            %a{:href => '#'}
              Menu
            %ul.dropdown
              %li
                %a{:href => '/'}Home
              %li 
                %label Bugzilla
              - @products.each do |product|
                %li
                  %a{:href => "/#{product.gsub(/ /,'_')}/bugzilla"} #{product}
              %li
                %label GitHub
              - @github_repos.each do |repo|
                %li
                  %a{:href => "/github/#{repo}"} #{repo}
    = yield
    :javascript
      $(document).ready(function(){
        var timer;

        $(window).resize(function() {
            clearTimeout(timer);
            timer = setTimeout(function() {
                $('.inner-wrap').css("min-height", $(window).height() + "px" );
            }, 40);
        }).resize();
      });
